<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.genre.dao.GenreDao">

	<insert id="insertGenre"
			parameterType="com.ktdsuniversity.edu.genre.vo.GenreVO">
		INSERT INTO GENRE
		( GENRE_ID
		, MOVIE_ID
		, CATEGORY_ID)
		VALUES
		( 'GN-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_GENRE_PK.NEXTVAL, 6, '0')
		, #{movieId}
		, #{categoryId})
	</insert>
	<select id="selectAllGenre" 
		resultType="com.ktdsuniversity.edu.genre.vo.GenreVO">
		SELECT CATEGORY_ID
  			 , CATEGORY_NAME
  		  FROM CATEGORY
</select>

</mapper>